html,
body {
  font-size: 13px;
  height: 100%;
  max-height: 100%;
}

body {
  font-family: "Courier Prime", monospace;
  background-color: #f0f0f0;
  font-weight: 300;
}

button:focus {
  outline: none;
}

#about-me {
  margin-top: -25vh;
}

.about-me-header {
  display: none;
}
.about-header {
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

.no-dec {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-body .container {
}

.email {
  font-size: 32px;
}
h1 {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

ul {
  padding-left: 1em;
}

ul,
li {
  list-style: none;
}

hr {
  border-style: solid;
  width: 10em;
  margin: 0.5em 0;
}

section {
  width: 100%;
  justify-content: space-evenly;
}

.name-link {
  /* border-bottom: 1px dotted #fff; */
  padding: 0.25em;
}

.name-link {
  display: flex;
  align-items: center;
}
.name,
.term-cursor {
  display: inline-block;
}

.name:hover {
  font-style: italic;
}

.term-cursor {
  width: 1em;
  height: 1.8em;
  background: #333;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.values li:first-child {
  margin-bottom: 0.5em;
}
section {
  width: 80%;
}

.avatar-holder {
  min-width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1em;
}

.avatar {
  display: inline;
  margin: 0 auto;

  vertical-align: middle;
}

.about {
  align-items: center;
  flex-direction: column;
}

.go-to {
  padding: 1em;
}

.go-to:hover {
  text-decoration: underline;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}

.index-container {
  height: 90%;
}

.container {
  height: 80vh;
}

.twitter {
  margin-right: 1em;
}

@media screen and (min-width: 420px) {
  .container {
    height: 90vh;
  }
  .about {
    flex-direction: row;
  }

  .about-me-header {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  section {
    width: 50%;
  }
  .social-row {
    justify-content: flex-start;
  }
  .social-row > a {
      margin-right: 1em;
  }

  .twitter {
    margin-right: 0;
  }
  

  ul {
    padding-left: 2.5em;
  }
  .values li:first-child {
    margin-bottom: 0;
  }
}

.about-body p,
.about-body li {
  font-size: 1.25em;
}

footer {
  display: flex;
  justify-content: center;
}

footer a {
  color: #fff;
}

/* sry this isnt mobile-first */
/* @media (max-width: 600px) {
  body {
    padding: 10px;
  }
} */
.social-img {
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.social-row {
  display: flex;
  width: 50%;
  margin-top: 3em;
}

.flex-col {
  flex-direction: column;
}

.twitter:hover {
  color: rgb(29, 161, 242);
}

.linkedin:hover {
  color: #0077b5;
}
