html,
body,
.cover {
	height: 100%;
}
#other, #other>body {
	max-height: 100%;
	height: auto;
}
body {
	background: rgb(88,111,124);
	background-size: cover;
	width: 100%;
}
p {
	font-family: "Muli", sans-serif;
	color: rgb(167,205,189);
	font-weight: 300;
}
.covertext {
		padding: 15px;
	}
#skills {
	padding: 0;
}
.biocol {
	min-height: 50vh;
	padding: 15px;
	line-height: 2em;
}
.biocol > h4 {
	font-size: 14px;
	font-weight: 700;
}
.biocol > p {
	font-weight: 300;
}
.skillcat {
	padding: 0;
	font-size: 1em;
}
#cskills > p, h4 {
	color: #333;
	display: inline;
}

.devswitch, .development {
	color: #333;
	font-size: 
}
.devswitch, 
.desswitch, 
{
	text-decoration: none;
}
.devswitch:hover, 
.desswitch:hover,
.devswitch:focus, 
.desswitch:focus {
	text-decoration: underline;
}
.devswitch:hover, 
.devswitch:focus {
	color: #333;
}
.desswitch:hover,
.desswitch:focus {
	color: rgb(167,205,189);
}
.desswitch {
	margin-left: 40vw;
}
.h3switch {
	display: inline;
	font-size: 1.5em;
}
.fa:hover, .fa:focus {
	text-transform: underline;
}

.inact {
	opacity: 0.7;
}

/*Nav styles*/
.navbar-inverse {
	background-color: rgba(0,0,0,0);
	border: none;
}
.navbar-inverse .navbar-nav>li>a {
	color: rgb(167,205,189);
	font-family: "Muli", sans-serif;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:active, .navbar-inverse .navbar-nav>li>a:focus{
	color: rgb(211, 255, 237);
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: rgb(167,205,189);
}

/*Cover style*/
.cover {
	margin-top: -100px;
	background: rgb(88,111,124);
	background-size: cover;
	width: 100%;
	display: table;
}
.covertext {
	display: table-cell;
	text-align: center;
	font-family: "Muli", sans-serif;
	color: rgb(167,205,189);
	vertical-align: middle;
}
.covertext > h1 {
	font-size: 4em;
}

/*Bio styles*/
section {
	padding: 0 50px;
}
#skills{
	margin: 50px;
}
.border {
	border: 2px solid rgb(167,205,189);
	 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 -3px 6px rgba(0,0,0,0.23);
}

#biography {
	height: 168px;
}

#biography > p {
	line-height: 2em;
}
#dskills {
	text-align: right;
	background-color: #333;
}
#dskills, .design, .desswitch {
	color: rgb(167,205,189);
}
#dskills > p:first-of-type{
	padding-top: 5px;
}
.bio {
	margin-top: -30px;
}
tr {
	line-height:  30px;
}
#biography  > p {
	font-size: 2em;
}
.biolbl {
	font-weight: 700;
}
.contactcovercol {

	text-align: center;
}
.contactcovercol > a{
	text-decoration: none;
	color: rgb(167,205,189);
	font-size: 3em;
	text-align: center;
}
.contactcovercol >  a:hover, a:focus, a:active {
	text-decoration: none;
	color: rgb(211, 255, 237);
}



/*Responsive*/
.navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border: none;
}
.navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background: none;
}

 @media only screen and (min-width : 769px) {

	.covertext {
		padding: 15px;
	}
	#skills {
		padding: 0 50px;
	}
	.biocol {
		min-height: 10vh;
		padding: 20px 50px;
	}
}
.prof {
	max-width: 200px;
	max-height: auto;
}

/*Typed.js */
.typed-cursor{
	display: none;
}

#name {
	font-size: 4em;
	margin: .67em 0;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    display: block;
    box-sizing: border-box;
}

#subtitle_one {
	font-size: 24px;
	color: rgb(51,51,51);
	margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    display: block;
    box-sizing: border-box;
   
}

/*Portfolio styles*/

.portrow {
	margin-top: 15%;
	padding: 20px 50px;

}
.portone {
	height: 200px;
	background: url(img/vweb1.png) top left no-repeat;
	background-size: cover;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-webkit-transform: perspective(1px) translateZ(0);;
	transform: perspective(1px) translateZ(0);
	transition-property: transform;
	transition-duration: 0.3s;
	/*box-shadow: 0 0 1px transparent;*/

}

.portone:hover {
	-webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 10px 2px rgba(0,0,0,0.24);
}




