html,
body,
.cover {
	height: 100%;
}
#other, #other>body {
	max-height: 100%;
	height: auto;
}
body {
	background: rgb(88,111,124);
	background-size: cover;
	width: 100%;
}
p {
	font-family: "Muli", sans-serif;
	color: rgb(167,205,189);
	font-weight: 300;
}
.covertext {
		padding: 15px;
	}
#skills {
	padding: 0;
}
.biocol {
	min-height: 50vh;
	padding: 15px;
	line-height: 2em;
}
.biocol > h3 {
	font-size: 14px;
	font-weight: 700;
}
.ast {
	color: rgb(167,205,189);
}
.skillcat {
	padding: 0;
	font-size: 1em;
}
#cskills > p, h3 {
	color: #333;
	display: inline;
}

.development {
	color: #333;
}

.fa:hover, .fa:focus {
	text-decoration: underline;
}

/*Nav styles*/
.navbar-inverse {
	background-color: rgba(0,0,0,0);
	border: none;
}
.navbar-inverse .navbar-nav>li>a {
	color: rgb(167,205,189);
	font-family: "Muli", sans-serif;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:active, .navbar-inverse .navbar-nav>li>a:focus{
	color: rgb(211, 255, 237);
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: rgb(167,205,189);
}

/*Cover style*/
.cover {
	margin-top: -100px;
	background: rgb(88,111,124);
	background-size: cover;
	width: 100%;
	display: table;
}
.covertext {
	display: table-cell;
	text-align: center;
	font-family: "Muli", sans-serif;
	color: rgb(167,205,189);
	vertical-align: middle;
}
.covertext > h1 {
	font-size: 4em;
}

/*Bio styles*/
section {
	/*padding: 0 50px;*/
}
#skills{
	margin: 0 50px;
}
.border {
	border: 2px solid rgb(167,205,189);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 -3px 6px rgba(0,0,0,0.23);
}

#biography {
	height: 168px;
}

.biocol > p {
	line-height: 2em;
}
#dskills {
	text-align: right;
	background-color: #333;
}
#cskills > h4 {
	color: #333;
}
#dskills, .design, .desswitch {
	color: rgb(167,205,189);
}
#dskills > p:first-of-type{
	padding-top: 5px;
}
.bio {
	margin-top: -30px;
}
#biography  > p {
	font-size: 2em;
}
.contactcovercol {
	text-align: center;
}
.contactcovercol > a{
	text-decoration: none;
	color: rgb(167,205,189);
	font-size: 3em;
	text-align: center;
}
.contactcovercol >  a:hover, a:focus, a:active {
	text-decoration: none;
	color: rgb(211, 255, 237);
}



/*Responsive*/
.navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border: none;
}
.navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background: none;
}

 @media only screen and (min-width : 769px) {

	.covertext {
		padding: 15px;
	}
	.biocol {
		min-height: 10vh;
		padding: 20px 50px;
	}
}

/*Typed.js */
.typed-cursor{
	display: none;
}

#name {
	font-size: 4em;
	margin: .67em 0;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    display: block;
    box-sizing: border-box;
}

#subtitle_one {
	font-size: 24px;
	color: rgb(51,51,51);
	margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    display: block;
    box-sizing: border-box;
   
}




